@model Autopujcovna_DreamRide.Models.ViewModels.BriefCarViewModel

@{
    ViewData["Title"] = "Odstranění auta";
    Layout = LayoutPaths.CarManagement;
}

<div class="container">
    <section class="car-removal-grid">
        <div class="outer-card no-hover">
            <section class="car-card">
                <div class="img-wrapper">
                    <img class="img-car-in-card" src="~/images/audi-tt.png" alt="Audi TT">
                </div>
                <h2>Audi TT</h2>
                <ul class="car-attributes">
                    <li>
                        @Html.DisplayNameFor(model => model.Engine)
                        @Html.DisplayFor(model => model.Engine)
                    </li>
                    <li>
                        @Html.DisplayNameFor(model => model.Power)
                        @Html.DisplayFor(model => model.Power) kW
                    </li>
                    <li>
                        @Html.DisplayNameFor(model => model.Transmission)
                        @Html.DisplayFor(model => model.Transmission)
                    </li>
                    <li>
                        @Html.DisplayNameFor(model => model.DriveTrain)
                        @Html.DisplayFor(model => model.DriveTrain)
                    </li>
                </ul>
            </section>
        </div>
        <div>
            <p class="warning-delete">
                Opravdu chcete vyřadit auto z aktuální nabídky aut?
            </p>
            <form asp-action="Delete" class="decision-btns">
                <a asp-action="Index" class="btn btn-general no-btn">Ne</a>
                <input type="hidden" asp-for="Id" />
                <button type="submit" value="Delete" class="btn btn-general yes-btn">Ano</button>
            </form>
        </div>
    </section>
</div>