@model Autopujcovna_DreamRide.Models.ViewModels.CarDetailViewModel

@{
    ViewData["Title"] = Model.FullName;
}

<section class="container">
    <img class="img-car" src="@Url.Content(Model.ImageFullPath)" alt="Title car photo">
    <!-- car parameters -->
    <section class="grid-container">
        <div class="grid-tile">
            <img class="img-icon" src="~/images/icons/Car-icons/gearshift.png" alt="transsmission">
            <h1>@Html.DisplayNameFor(model => model.TopSpeed)</h1>
            <p class="grid-tile-value">@Html.DisplayFor(model => model.TopSpeed) km/h</p>
        </div>
        <div class="grid-tile">
            <img class="img-icon" src="~/images/icons/Car-icons/gearshift.png" alt="transsmission">
            <h1>@Html.DisplayNameFor(model => model.Power)</h1>
            <p class="grid-tile-value">@Html.DisplayFor(model => model.Power) kW</p>
        </div>
        <div class="grid-tile">
            <img class="img-icon" src="~/images/icons/Car-icons/gearshift.png" alt="transsmission">
            <h1>@Html.DisplayNameFor(model => model.Transmission)</h1>
            <p class="grid-tile-value">@Html.DisplayFor(model => model.Transmission)</p>
        </div>
        <div class="grid-tile">
            <img class="img-icon" src="~/images/icons/Car-icons/gearshift.png" alt="transsmission">
            <h1>@Html.DisplayNameFor(model => model.YearOfManufacture)</h1>
            <p class="grid-tile-value">@Html.DisplayFor(model => model.YearOfManufacture)</p>
        </div>
        <div class="grid-tile">
            <img class="img-icon" src="~/images/icons/Car-icons/gearshift.png" alt="transsmission">
            <h1>@Html.DisplayNameFor(model => model.Engine)</h1>
            <p class="grid-tile-value">@Html.DisplayFor(model => model.Engine)</p>
        </div>
        <div class="grid-tile">
            <img class="img-icon" src="~/images/icons/Car-icons/gearshift.png" alt="transsmission">
            <h1>Pohon</h1>
            <p class="grid-tile-value">@Html.DisplayFor(model => model.DriveTrain)</p>
        </div>
        <div class="grid-tile">
            <img class="img-icon" src="~/images/icons/Car-icons/gearshift.png" alt="transsmission">
            <h1>@Html.DisplayNameFor(model => model.Body)</h1>
            <p class="grid-tile-value">@Html.DisplayFor(model => model.Body) </p>
        </div>
        <div class="grid-tile">
            <img class="img-icon" src="~/images/icons/Car-icons/gearshift.png" alt="transsmission">
            <h1>@Html.DisplayNameFor(model => model.Fuel)</h1>
            <p class="grid-tile-value">@Html.DisplayFor(model => model.Fuel)</p>
        </div>
    </section>
    <p class="invite-txt">
        Splňte si svůj sen za volantem Subaru BRZ!
        Výkonný motor, precizní řízení a lehký podvozek, to musíte zkusit. Tak neváhejte, půjčte si ho a vychutnejte si každou zatáčku naplno!
    </p>
</section>

<div class="btn-container">
    <div class="start-pos btn-back-pos">
        <a asp-action="Index" class="btn btn-back">Návrat do nabídky</a>
    </div>
    <div class="end-pos btn-details-pos">
        <a class="btn section-btn">Půjčit si auto</a>
    </div>
</div>
