@model List<Autopujcovna_DreamRide.Models.ViewModels.BriefCarViewModel>
@{
    ViewData["Title"] = "Nabídka aut";
    Layout = LayoutPaths.CarManagement;
}

<p>
    <a asp-action="Create">Přidat auto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Engine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Transmission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].DriveTrain)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @* temer mam hotovo ještě musím akorát zařídit, aby se mi zobrazovala hodnota ve switchi*@
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Engine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Transmission)
                </td>
                <td>
                    @{
                        string pohonText;
                        switch (Model[i].DriveTrain)
                        {
                            case "FWD":
                                pohonText = "Přední náhon (FWD)";
                                break;
                            case "RWD":
                                pohonText = "Zadní náhon (RWD)";
                                break;
                            case "AWD":
                                pohonText = "Pohon na všechna kola (AWD)";
                                break;
                            case "4x4":
                            case "4X4":
                                pohonText = "Pohon na všechna kola (4x4)";
                                break;
                            default:
                                pohonText = "Neznámý";
                                break;
                        }
                    }
                    @pohonText
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model[i].Id">Editace údajů</a> |
                    <a asp-action="Details" asp-route-id="@Model[i].Id">Zobrazit auto</a> |
                    <a asp-action="Delete" asp-route-id="@Model[i].Id">Smazat auto</a>
                </td>
        </tr>
}
    </tbody>
</table>
