@model List<Autopujcovna_DreamRide.Models.ViewModels.BriefCarViewModel>
@{
    ViewData["Title"] = "Nabídka aut";
    Layout = LayoutPaths.CarManagement;
}

<div class="container">
    <p>
        <a asp-action="Create" class="btn btn-create">+ Přidat auto</a>
    </p>
    <section class="cars-grid">
        @for (int i = 0; i < Model.Count; i++)
        {
                <div class="outer-card">
                    <section class="car-card">
                    <a asp-action="Details" asp-route-id="@Model[i].Id" class="no-style-link">
                        <div class="img-wrapper">
                            <img class="img-car-in-card" src="~/images/Subaru_BRZ.jpg" alt="Audi TT">
                        </div>
                        <h2>Audi TT</h2>
                        <ul class="car-attributes">
                            <li>
                                @Html.DisplayNameFor(model => model[i].Engine)
                                @Html.DisplayFor(model => model[i].Engine)
                            </li>
                            <li>
                                @Html.DisplayNameFor(model => model[i].Power)
                                @Html.DisplayFor(model => model[i].Power) kW
                            </li>
                            <li>
                                @Html.DisplayNameFor(model => model[i].Transmission)
                                @Html.DisplayFor(model => model[i].Transmission)
                            </li>
                            <li>
                                @Html.DisplayNameFor(model => model[i].DriveTrain)
                                @Html.DisplayFor(model => model[i].DriveTrain)
                            </li>
                        </ul>      
                    </a>
                <div class="btns-admin">
                    <a asp-action="Edit" asp-route-id="@Model[i].Id" class="btn btn-edit">Upravit</a>
                    <a asp-action="Delete" asp-route-id="@Model[i].Id" class="btn section-btn btn-delete">Odstranit</a>
                </div>
                </section>
            </div>
        }
    </section>
</div>

