@model IEnumerable<Autopujcovna_DreamRide.Models.Car>

@{
    ViewData["Title"] = "Nabídka aut";
    Layout = LayoutPaths.CarManagement;
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfManufacture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineDisplacement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transmission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopSpeedKmForHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerInKw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fuel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfManufacture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineDisplacement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transmission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopSpeedKmForHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowerInKw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fuel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
